body{
  font-size: 20px;
}
.container {
  display: grid;
  /* grid-template-columns: 10% 20% 40% 20% 10%;
  grid-template-rows: 300px 300px; */
  /* grid-template: 100px 200px 300px / 1fr 1fr 1fr;  */
  /* grid-template: 100px 200px 300px / repeat(4, 1fr); */
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);  
  grid-gap: 10px;
  height: 100vh;
  grid-template-areas: "header header"
                       "left container"
                       "footer footer";
}
.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}